:root {

    --blanco: #ffffff;
    
    --oscuro: #212121;
    
    --primario: #ffC107;
    
    --secundario: #0097A7;
    
    --gris: #757575;
    
    --grisClaro:  #DFE9F3;
    }

 /* globales */

html {
    font-size: 65%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    }

    .servicios,
    .navegacion-principal,
    .formulario {
      scroll-snap-align: center;
      scroll-snap-stop: always;
   }

    /* hack para box model */
    
    *, *:before, *:after {
      box-sizing: inherit;
    }
  

body {
    font-size:  16px; 
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top var(--grisClaro) 0%, var(--blanco) 100%);
    }
    /*1 rem = 10px */

    .contenedor {
      max-width: 125rem;
      margin: 0 auto;
      text-align: center;
      align-content: center;
     }
        
    .button {
      background-color: var(--secundario);
      color: var(--blanco);
      padding: 1rem 3rem;
      margin-top: 3rem;
      font-size: 2rem;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: 5rem;
      width: 90%;
      text-align: center;
      border: none;
     }
      
     @media (min-width: 768px){
      .button {
        width: auto;
      }
      }
     
     .button:hover {
      cursor: pointer;
     }


     .sombra {
      -webkit-box-shadow: 0px 5px 15px 0px rgba(117,
     117,117,1);
      -moz-box-shadow: 0px 5px 15px 0px rgba(117,117,
     117,1);
      box-shadow: 0px 5px 15px 0px rgba(117,117,117,
     1); 
      background-color: var(--blanco);
      padding: 2rem;
      border-radius: 1rem;
      }

    /* tipogragfia */

     h1 {
       font-size: 3.8rem;
     }

     h2 {
      font-size: 2.8rem;

     }

     h3 {
      font-size: 1.8rem;
      
     }
     
     h1,h2,h3{
      text-align: center;
     }
    
     /* titulos */

    .titulo span {
     font-size: 2rem;
    }

     /* utilidades */

   .w-sm-100 {
    width: 100%;
   }

   @media (min-width: 768px) {
     .w-sm-100 {
     width: auto;
    }
  }
  
    .flex{
    display: flex;
   }

  .alinear-derecha {
   justify-content: flex-end;
  }
    
    /* barra de navegación */

     .nav-bg {
        background-color: var(--secundario); 
    }

    .navegacion-principal {
      display: flex;
      flex-direction: column;
    }

    @media (min-width: 768px){
      .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
      }
    }
    
    .navegacion-principal a {
      display: block;
      text-align: center;
      text-decoration: none;
      color: var(--blanco);
      font-size: 2rem;
      font-weight: 700;
      padding: 1rem;
    }

    .navegacion-principal a:hover {
      background-color: var(--primario);
      color: var(--oscuro);

    }
    
    /* hero */

    .hero {
      background-image: url(hero.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 450px;
      position: relative;
      margin-bottom: 2rem;
    } 

    .contenido-hero {
      position: absolute;
      background-color: rgba(0, 0, 0, .7);
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .contenido-hero h2,
    .contenido-hero p {
      color: var(--blanco);
    }

   .contenido-hero .ubicacion {
      display: flex;
      justify-content: center;
      align-items:flex-end;
      width: 100%;
    }


    .servicios {
      display: grid;
      column-gap: 1rem;
      grid-template-columns: min-content;
      justify-content: center;
    }

    @media (min-width: 768px){
      .servicios {
        grid-template-columns: repeat(3, 1fr);
      } 
    }

    .servicio {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .servicio h3 {
      color: var(--secundario);
      font-weight: normal;
    }
    
    .servicio .p {
      line-height: 2;
    }

    .servicio .iconos {
      height: 15rem;
      width: 15rem;
      background-color: var(--primario);
      border-radius: 50%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

  
    /* contacto */

    .formulario {
     background-color: var(--gris);
     width:min(60rem, 100%); /** utiliza el valor mas pequeño*/
     margin: 0 auto;
     padding: 2rem;
     border-radius: 1rem;
    }

    .formulario fieldset {
      border: none;
    }

    .formulario legend {
      text-align: center;
      font-size: 1.8rem;
      text-decoration: uppercase;
      font-weight: 700;
      margin-bottom: 2rem;
      color: var(--primario);
    }
    
    @media (min-width: 768px){
    .contenedor-campus {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       column-gap: 1rem;
       grid-template-rows: auto auto 20rem;

     }
    }

    .campus:nth-child(3),
    .campus:nth-child(4){
      grid-column: 1 / 3;
    }

    .campus {
     margin-bottom: 1rem;
    }

    .campo label {
     color: var(--blanco);
     font-weight: bold;
     margin-bottom: 5rem;
     display: block;
    }
    
    .input-text {
      width: 100%;
      border: none;
      padding: 1.5rem;

    }
   
   .campus textarea {
      height: 20rem;
   }

   .derechos p {
    text-align: center;
    font-weight: normal;
   }
